* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body,
p {
    font-family: "Inter regular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
}

input,
textarea,
select {
    font-family: "Inter Semibold", Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 1px solid #747474;
    padding: 10px 55px;
    border-radius: 10px;
    width: 100%;
    font-size: 12px;
    color: #747474;
}

a {
    color: #000;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "GT-Eesti", Arial;
    font-weight: 500;
    color: #000;
}

@font-face {
    font-family: "Inter";
    src: url("Assets/font/Inter-Black.woff2") format("woff2"),
        url("Assets/font/Inter-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Bold";
    src: url("Assets/font/Inter-Bold.woff2") format("woff2"),
        url("Assets/font/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Semibold";
    src: url("Assets/font/Inter-SemiBold.woff2") format("woff2"),
        url("Assets/font/Inter-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter regular";
    src: url("Assets/font/Inter-Regular.woff2") format("woff2"),
        url("Assets/font/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter Medium";
    src: url("Assets/font/Inter-Medium.woff2") format("woff2"),
        url("Assets/font/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
ul,
ol {
    list-style: none;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
